site_name: TeleCart Документация
site_url: https://docs.nikitakiselev.ru

nav:
  - index.md
  - install.md
  - Telegram:
      - Настройка: telegram/telegram.md
      - Кнопка для магазина: telegram/open-shop-link.md
  - Аналитика:
      - Начало работы: analitycs/start.md
      - Цели: analitycs/goals.md
  - Обновления:
      - Релизы:
        - Версия v2.0.0: changelog/2.0.0.md
        - Версия v1.3.2: changelog/1.3.2.md
        - Версия v1.3.1: changelog/1.3.1.md
        - Версия v1.3.0: changelog/1.3.0.md
        - Версия v1.2.0: changelog/1.2.0.md
  - update.md
  - uninstall.md
  - contacts.md
  - architecture.md

theme:
  name: material
  language: ru
  features:
    - glightbox
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.sections
    - navigation.path
    - toc.follow
    - navigation.top
    - search.highlight

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.blocks.caption
  - attr_list
  - tables
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
      slugify: !!python/name:pymdownx.slugs.uslugify
      separator: "-"
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - def_list

plugins:
  - search
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom
      background: white
      shadow: true
      manual: false